{% extends 'base.html' %}
{% block title %}
   add order
{% endblock %}
{% block content %}
    <section class="page-section contact-us-heading">
        <div class="container">
            {% for item in item_list %}
            <div>
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p>${{ item.price }}</p>
                <a href="{% url 'add_to_order' pk=item.pk %}">Add to Order</a>
            </div>
        {% endfor %}
        
        </div>
    </section>
{% endblock %}