{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ category }}
{% endblock %}

{% block content %}
    <section class="page-section items-heading mb-2">
        <div class="container">
            <div id="list-item" class="row card-deck ">
                {% for item in item_list %}
                    <div class="col-lg-4 col-md-6 col-sm-4 mb-3">
                        <div class="card ">

                            <a href="{% url 'item_detail' item.category.slug item.id %}" class=" d-inline-block ">
                                <img class="card-img-top" src="{{ item.image.url }}" alt="product"/>
                            </a>

                            <div class="card-body">
                                <div class="card-title d-flex justify-content-between align-content-center"><p>
                                    {{ item.name }}</p>
                                    <p>{{ item.price }}$</p></div>
                            </div>
                            <div class="card-footer">
                                <button type="button" data-id="{{ item.id }}" class="btn btn-submit select-item w-100">
                                    Select item
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block pagination %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
