{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ category }}
{% endblock %}

{% block content %}
    <section class="page-section items-heading">
        <div class="container">
            <div class="row">
                {% for item in item_list %}
                    <div class="col-lg-3 col-sm-3 mb-3">
                        <div class="card ">
                                <a href="{% url 'item_detail' item.category.slug item.id %}" class=" d-inline-block " style="height:  10.1rem;"
                                  >
                                    <img class="card-img-top" src="{{ item.image.url }}" alt="product"/>
                                </a>
                            <div class="card-body mt-3">
                                <div class="card-title d-flex justify-content-between align-content-center"><p>
                                    {{ item.name }}</p>
                                    <p>{{ item.price }}$</p></div>
                            </div>
                            <div class="card-footer">
                                <button type="button" data-id="{{ item.id }}" class="btn btn-submit select-item w-100">
                                    Select item
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}